pipelines/Ext_Daily_PBI_Usage_Refresh/Ext_Daily_PBI_Usage_Refresh.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"fuam pbi-service-api admin":{"type":"string"},"FUAM_Ext_Lakehouse":{"type":"string"},"fuam pbi-service-api base":{"type":"string"}},"variables":{},"resources":[{"name":"Ext_Daily_PBI_Usage_Refresh","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Refresh Usage Dataset List","type":"ExecutePipeline","dependsOn":[],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"aff44650-7d4e-410a-b4d4-b9b9b874a6f7","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}},{"name":"Refresh Usage Data","type":"ExecutePipeline","dependsOn":[{"activity":"Refresh Usage Dataset List","dependencyConditions":["Succeeded"]}],"policy":{"secureInput":false},"typeProperties":{"pipeline":{"referenceName":"5fc36d5f-bb6c-4d3b-8242-4293ddbdf258","type":"PipelineReference"},"waitOnCompletion":true,"parameters":{}}}],"lastModifiedByObjectId":"2576c048-a948-468c-a5fd-7f2eb769f9c8","lastPublishTime":"2025-05-23T20:06:59Z"},"dependsOn":[]},{"name":"Ext_Load_PBI_Workspace_Datasets_E2E","type":"pipelines","apiVersion":"2018-06-01","properties":{"description":"FUAM extension for end-to-end (bronze/silver/gold) data ingestion of all workspace datasets in the tenant. Feeds downstream consumption in the Report Usage and Data Catalog workstreams.","activities":[{"name":"Fetch Workspace count","type":"Lookup","dependsOn":[{"activity":"Delete files","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","paginationRules":{"supportRFC5988":"true"}},"firstRowOnly":false,"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@string('groups?$filter=type eq ''Workspace''&$top=1')\n","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('fuam pbi-service-api admin')]"}}}},{"name":"Set workspace_count","type":"SetVariable","dependsOn":[{"activity":"Fetch Workspace count","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"workspace_count","value":{"value":"@activity('Fetch Workspace count').output.value[0]['@odata.count']","type":"Expression"}}},{"name":"Set page_count","type":"SetVariable","dependsOn":[{"activity":"Set workspace_count","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"page_count","value":{"value":"@add(div(variables('workspace_count'),variables('limit')),1)","type":"Expression"}}},{"name":"Set page_array","type":"SetVariable","dependsOn":[{"activity":"Set page_count","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"page_array","value":{"value":"@range(0,variables('page_count'))","type":"Expression"}}},{"name":"ForEach Get Workspaces","type":"ForEach","dependsOn":[{"activity":"Set page_array","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@variables('page_array')","type":"Expression"},"isSequential":true,"activities":[{"name":"Set currentSkip","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"currentSkip","value":{"value":"@mul(item(),variables('limit'))","type":"Expression"}}},{"name":"Fetch Workspace Datasets","type":"Copy","dependsOn":[{"activity":"Set currentSkip","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","paginationRules":{"supportRFC5988":"true"},"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat('groups?$filter=type eq ''Workspace''&$expand=datasets&$top=',variables('limit'),'&$skip=', variables('currentSkip'))","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('fuam pbi-service-api admin')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item(),'_workspace_datasets.json')","type":"Expression"},"folderPath":"raw/workspace_datasets"}},"schema":{}}},"enableStaging":false}}]}},{"name":"Delete files","description":"Remove workspace dataset files from the previous run","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"raw/workspace_datasets"}}},"enableLogging":false,"storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false}}},{"name":"Ext_Transfer_Workspace_Datasets_Unit","type":"TridentNotebook","dependsOn":[{"activity":"ForEach Get Workspaces","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"b3347262-bde2-4feb-bf31-1a931599aa80","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","parameters":{"display_data":{"value":{"value":"@pipeline().parameters.display_data","type":"Expression"},"type":"bool"}}}},{"name":"Aggregate for report dimensions","description":"Transform to one row per workspace and include the workspace name","type":"TridentNotebook","dependsOn":[{"activity":"Ext_Transfer_Workspace_Datasets_Unit","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"d06cc889-8e51-4795-be7b-b61cf57d65b4","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1"}}],"parameters":{"display_data":{"type":"bool","defaultValue":false},"gold_table_name":{"type":"string","defaultValue":"workspace_datasets"},"agg_gold_table_name":{"type":"string","defaultValue":"usage_workspaces"}},"variables":{"limit":{"type":"Integer","defaultValue":5000},"page_count":{"type":"Integer"},"currentSkip":{"type":"Integer"},"page_array":{"type":"Array"},"workspace_count":{"type":"Integer"}},"lastModifiedByObjectId":"2576c048-a948-468c-a5fd-7f2eb769f9c8","lastPublishTime":"2025-05-18T11:34:26Z"},"dependsOn":[]},{"name":"Ext_Load_PBI_Report_Usage_E2E","type":"pipelines","apiVersion":"2018-06-01","properties":{"description":"FUAM extension for end-to-end (bronze/silver/gold) data ingestion of all Report Usage metrics data. Feeds the Universal Usage Metrics Semantic Model, a centralized dataset to build a tenant-wide version of the individual Microsoft \"Report Usage Metrics Model\" dataset in each enabled workspace.","activities":[{"name":"Delete report usage files","description":"Remove raw report usage files from the previous run","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"raw/report_usage"}}},"enableLogging":false,"storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false}}},{"name":"Get report usage datasets","type":"TridentNotebook","dependsOn":[{"activity":"Delete report usage files","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"1596473a-ba9d-4f87-a0de-4f0bea21cd68","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1"}},{"name":"Set dataset array","type":"SetVariable","dependsOn":[{"activity":"Get report usage datasets","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"dataset_array","value":{"value":"@json(activity('Get report usage datasets').output.result.exitValue).value","type":"Expression"}}},{"name":"ForEach Get Report Usage","type":"ForEach","dependsOn":[{"activity":"Set dataset array","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@variables('dataset_array')","type":"Expression"},"batchCount":3,"activities":[{"name":"Fetch Report Views","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@string('{\"queries\":[{\"query\":\"EVALUATE ''Report views''\"}],\"serializerSettings\":{\"includeNulls\":true}}')","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json"},"paginationRules":{"supportRFC5988":"true"},"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat('groups/', item().WorkspaceId, '/datasets/', item().DatasetId, '/executeQueries')","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('fuam pbi-service-api base')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item().DatasetId,'.json')","type":"Expression"},"folderPath":"raw/report_usage/facts/report_views"}},"schema":{}}},"enableStaging":false}},{"name":"rv Ext_Transfer_Report_Facts_Unit","type":"TridentNotebook","dependsOn":[{"activity":"Fetch Report Views","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"4bb0399b-d063-440c-b75a-bc24f5fcbe69","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","parameters":{"display_data":{"value":false,"type":"bool"},"usage_table_name":{"value":"Report views","type":"string"},"bronze_file_location":{"value":"Files/raw/report_usage/facts/report_views/","type":"string"},"gold_table_name":{"value":"report_views","type":"string"},"usage_dataset_id":{"value":{"value":"@string(item().DatasetId)","type":"Expression"},"type":"string"}},"sessionTag":"fuan_ext"}},{"name":"Fetch Page Views","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@string('{\"queries\":[{\"query\":\"EVALUATE ''Report page views''\"}],\"serializerSettings\":{\"includeNulls\":true}}')","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json"},"paginationRules":{"supportRFC5988":"true"},"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat('groups/', item().WorkspaceId, '/datasets/', item().DatasetId, '/executeQueries')","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('fuam pbi-service-api base')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item().DatasetId,'.json')","type":"Expression"},"folderPath":"raw/report_usage/facts/page_views"}},"schema":{}}},"enableStaging":false}},{"name":"rpv Ext_Transfer_Report_Facts_Unit","type":"TridentNotebook","dependsOn":[{"activity":"Fetch Page Views","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"4bb0399b-d063-440c-b75a-bc24f5fcbe69","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","parameters":{"display_data":{"value":false,"type":"bool"},"usage_table_name":{"value":"Report page views","type":"string"},"bronze_file_location":{"value":"Files/raw/report_usage/facts/page_views/","type":"string"},"gold_table_name":{"value":"page_views","type":"string"},"usage_dataset_id":{"value":{"value":"@string(item().DatasetId)","type":"Expression"},"type":"string"}},"sessionTag":"fuan_ext"}},{"name":"Fetch Report Load Times","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@string('{\"queries\":[{\"query\":\"EVALUATE ''Report load times''\"}],\"serializerSettings\":{\"includeNulls\":true}}')","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json"},"paginationRules":{"supportRFC5988":"true"},"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat('groups/', item().WorkspaceId, '/datasets/', item().DatasetId, '/executeQueries')","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('fuam pbi-service-api base')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item().DatasetId,'.json')","type":"Expression"},"folderPath":"raw/report_usage/facts/load_times"}},"schema":{}}},"enableStaging":false}},{"name":"rlt Ext_Transfer_Report_Facts_Unit","type":"TridentNotebook","dependsOn":[{"activity":"Fetch Report Load Times","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"4bb0399b-d063-440c-b75a-bc24f5fcbe69","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","parameters":{"display_data":{"value":false,"type":"bool"},"usage_table_name":{"value":"Report load times","type":"string"},"bronze_file_location":{"value":"Files/raw/report_usage/facts/load_times/","type":"string"},"gold_table_name":{"value":"load_times","type":"string"},"usage_dataset_id":{"value":{"value":"@string(item().DatasetId)","type":"Expression"},"type":"string"}},"sessionTag":"fuan_ext"}},{"name":"Fetch Reports","type":"Copy","dependsOn":[{"activity":"Wait for facts","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@string('{\"queries\":[{\"query\":\"EVALUATE FILTER ( ''Reports'', NOT ( ISBLANK( ''Reports''[ReportGuid] ) ) )\"}],\"serializerSettings\":{\"includeNulls\":true}}')","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json"},"paginationRules":{"supportRFC5988":"true"},"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat('groups/', item().WorkspaceId, '/datasets/', item().DatasetId, '/executeQueries')","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('fuam pbi-service-api base')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item().DatasetId,'.json')","type":"Expression"},"folderPath":"raw/report_usage/dimensions/usage_reports/"}},"schema":{}}},"enableStaging":false}},{"name":"r Ext_Transfer_Report_Dimensions_Unit","type":"TridentNotebook","dependsOn":[{"activity":"Fetch Reports","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"fb749124-99c3-420e-aa89-d9d2f30f3999","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","parameters":{"display_data":{"value":false,"type":"bool"},"usage_table_name":{"value":"Reports","type":"string"},"bronze_file_location":{"value":"Files/raw/report_usage/dimensions/usage_reports/","type":"string"},"gold_table_name":{"value":"usage_reports","type":"string"},"usage_dataset_id":{"value":{"value":"@string(item().DatasetId)","type":"Expression"},"type":"string"}},"sessionTag":"fuan_ext"}},{"name":"Fetch Report Pages","type":"Copy","dependsOn":[{"activity":"Wait for facts","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@string('{\"queries\":[{\"query\":\"EVALUATE FILTER ( ''Report pages'', NOT ( ISBLANK( ''Report pages''[ReportId] ) ) )\"}],\"serializerSettings\":{\"includeNulls\":true}}')","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json"},"paginationRules":{"supportRFC5988":"true"},"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat('groups/', item().WorkspaceId, '/datasets/', item().DatasetId, '/executeQueries')","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('fuam pbi-service-api base')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item().DatasetId,'.json')","type":"Expression"},"folderPath":"raw/report_usage/dimensions/usage_pages/"}},"schema":{}}},"enableStaging":false}},{"name":"Fetch Report Rank","type":"Copy","dependsOn":[{"activity":"Wait for facts","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@string('{\"queries\":[{\"query\":\"EVALUATE FILTER ( ''Report rank'', NOT ( ISBLANK( ''Report rank''[ReportId] ) ) )\"}],\"serializerSettings\":{\"includeNulls\":true}}')","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json"},"paginationRules":{"supportRFC5988":"true"},"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat('groups/', item().WorkspaceId, '/datasets/', item().DatasetId, '/executeQueries')","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('fuam pbi-service-api base')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item().DatasetId,'.json')","type":"Expression"},"folderPath":"raw/report_usage/dimensions/usage_rank/"}},"schema":{}}},"enableStaging":false}},{"name":"Fetch Workspace Reports","type":"Copy","dependsOn":[{"activity":"Wait for report dimensions","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@string('{\"queries\":[{\"query\":\"EVALUATE FILTER ( ''Workspace reports'', NOT ( ISBLANK( ''Workspace reports''[ReportGuid] ) ) )\"}],\"serializerSettings\":{\"includeNulls\":true}}')","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json"},"paginationRules":{"supportRFC5988":"true"},"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat('groups/', item().WorkspaceId, '/datasets/', item().DatasetId, '/executeQueries')","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('fuam pbi-service-api base')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item().DatasetId,'.json')","type":"Expression"},"folderPath":"raw/report_usage/dimensions/usage_workspace_reports/"}},"schema":{}}},"enableStaging":false}},{"name":"Fetch Workspace Views","type":"Copy","dependsOn":[{"activity":"Wait for report dimensions","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@string('{\"queries\":[{\"query\":\"EVALUATE FILTER ( ''Workspace views'', NOT ( ISBLANK( ''Workspace views''[ReportId] ) ) )\"}],\"serializerSettings\":{\"includeNulls\":true}}')","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json"},"paginationRules":{"supportRFC5988":"true"},"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat('groups/', item().WorkspaceId, '/datasets/', item().DatasetId, '/executeQueries')","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('fuam pbi-service-api base')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item().DatasetId,'.json')","type":"Expression"},"folderPath":"raw/report_usage/dimensions/usage_workspace_views/"}},"schema":{}}},"enableStaging":false}},{"name":"Fetch Users","type":"Copy","dependsOn":[{"activity":"Wait for report dimensions","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"POST","requestBody":{"value":"@string('{\"queries\":[{\"query\":\"EVALUATE VALUES( Users )\"}],\"serializerSettings\":{\"includeNulls\":true}}')","type":"Expression"},"additionalHeaders":{"Content-Type":"application/json"},"paginationRules":{"supportRFC5988":"true"},"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat('groups/', item().WorkspaceId, '/datasets/', item().DatasetId, '/executeQueries')","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('fuam pbi-service-api base')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item().DatasetId,'.json')","type":"Expression"},"folderPath":"raw/report_usage/dimensions/usage_users/"}},"schema":{}}},"enableStaging":false}},{"name":"rp Ext_Transfer_Report_Dimensions_Unit","type":"TridentNotebook","dependsOn":[{"activity":"Fetch Report Pages","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"fb749124-99c3-420e-aa89-d9d2f30f3999","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","parameters":{"display_data":{"value":false,"type":"bool"},"usage_table_name":{"value":"Report pages","type":"string"},"bronze_file_location":{"value":"Files/raw/report_usage/dimensions/usage_pages/","type":"string"},"gold_table_name":{"value":"usage_pages","type":"string"},"usage_dataset_id":{"value":{"value":"@string(item().DatasetId)","type":"Expression"},"type":"string"}},"sessionTag":"fuan_ext"}},{"name":"rr Ext_Transfer_Report_Dimensions_Unit","type":"TridentNotebook","dependsOn":[{"activity":"Fetch Report Rank","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"fb749124-99c3-420e-aa89-d9d2f30f3999","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","parameters":{"display_data":{"value":false,"type":"bool"},"usage_table_name":{"value":"Report rank","type":"string"},"bronze_file_location":{"value":"Files/raw/report_usage/dimensions/usage_rank/","type":"string"},"gold_table_name":{"value":"usage_rank","type":"string"},"usage_dataset_id":{"value":{"value":"@string(item().DatasetId)","type":"Expression"},"type":"string"}},"sessionTag":"fuan_ext"}},{"name":"wr Ext_Transfer_Report_Dimensions_Unit","type":"TridentNotebook","dependsOn":[{"activity":"Fetch Workspace Reports","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"fb749124-99c3-420e-aa89-d9d2f30f3999","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","parameters":{"display_data":{"value":false,"type":"bool"},"usage_table_name":{"value":"Workspace reports","type":"string"},"bronze_file_location":{"value":"Files/raw/report_usage/dimensions/usage_workspace_reports/","type":"string"},"gold_table_name":{"value":"usage_workspace_reports","type":"string"},"usage_dataset_id":{"value":{"value":"@string(item().DatasetId)","type":"Expression"},"type":"string"}},"sessionTag":"fuan_ext"}},{"name":"wv Ext_Transfer_Report_Dimensions_Unit","type":"TridentNotebook","dependsOn":[{"activity":"Fetch Workspace Views","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"fb749124-99c3-420e-aa89-d9d2f30f3999","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","parameters":{"display_data":{"value":false,"type":"bool"},"usage_table_name":{"value":"Workspace views","type":"string"},"bronze_file_location":{"value":"Files/raw/report_usage/dimensions/usage_workspace_views/","type":"string"},"gold_table_name":{"value":"usage_workspace_views","type":"string"},"usage_dataset_id":{"value":{"value":"@string(item().DatasetId)","type":"Expression"},"type":"string"}},"sessionTag":"fuan_ext"}},{"name":"u Ext_Transfer_Report_Dimensions_Unit","type":"TridentNotebook","dependsOn":[{"activity":"Fetch Users","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"fb749124-99c3-420e-aa89-d9d2f30f3999","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","parameters":{"display_data":{"value":false,"type":"bool"},"usage_table_name":{"value":"Users","type":"string"},"bronze_file_location":{"value":"Files/raw/report_usage/dimensions/usage_users/","type":"string"},"gold_table_name":{"value":"usage_users","type":"string"},"usage_dataset_id":{"value":{"value":"@string(item().DatasetId)","type":"Expression"},"type":"string"}},"sessionTag":"fuan_ext"}},{"name":"Wait for facts","type":"Wait","dependsOn":[{"activity":"rv Ext_Transfer_Report_Facts_Unit","dependencyConditions":["Succeeded"]},{"activity":"rpv Ext_Transfer_Report_Facts_Unit","dependencyConditions":["Succeeded"]},{"activity":"rlt Ext_Transfer_Report_Facts_Unit","dependencyConditions":["Succeeded"]}],"typeProperties":{"waitTimeInSeconds":1}},{"name":"Wait for report dimensions","type":"Wait","dependsOn":[{"activity":"r Ext_Transfer_Report_Dimensions_Unit","dependencyConditions":["Succeeded"]},{"activity":"rp Ext_Transfer_Report_Dimensions_Unit","dependencyConditions":["Succeeded"]},{"activity":"rr Ext_Transfer_Report_Dimensions_Unit","dependencyConditions":["Succeeded"]}],"typeProperties":{"waitTimeInSeconds":1}}]}},{"name":"Ext_Transfer_User_Dimension_Unit","description":"Get a the list of users and their attributes.  Data Factory in Microsoft Fabric doesn't currently support a Web API.","type":"TridentNotebook","dependsOn":[{"activity":"ForEach Get Report Usage","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"d06cc889-8e51-4795-be7b-b61cf57d65b4","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","parameters":{"display_data":{"value":false,"type":"bool"},"lakehouse_name":{"value":"FUAM_Ext_Lakehouse","type":"string"},"gold_table_name":{"value":"users","type":"string"}},"sessionTag":"fuan_ext"}}],"parameters":{"display_data":{"type":"bool","defaultValue":false}},"variables":{"dataset_array":{"type":"Array"}},"lastModifiedByObjectId":"2576c048-a948-468c-a5fd-7f2eb769f9c8","lastPublishTime":"2025-05-18T13:04:58Z"},"dependsOn":[]}]}