pipelines/Ext_Load_PBI_Workspace_Datasets_E2E/Ext_Load_PBI_Workspace_Datasets_E2E.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"fuam pbi-service-api admin":{"type":"string"},"FUAM_Ext_Lakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"Ext_Load_PBI_Workspace_Datasets_E2E","type":"pipelines","apiVersion":"2018-06-01","properties":{"description":"FUAM extension for end-to-end (bronze/silver/gold) data ingestion of all workspace datasets in the tenant. Feeds downstream consumption in the Report Usage and Data Catalog workstreams.","activities":[{"name":"Set workspace_count","type":"SetVariable","dependsOn":[{"activity":"Fetch Workspace count","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"workspace_count","value":{"value":"@activity('Fetch Workspace count').output['@odata.count']","type":"Expression"}}},{"name":"Set page_count","type":"SetVariable","dependsOn":[{"activity":"Set workspace_count","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"page_count","value":{"value":"@add(div(variables('workspace_count'),variables('limit')),1)","type":"Expression"}}},{"name":"Set page_array","type":"SetVariable","dependsOn":[{"activity":"Set page_count","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"page_array","value":{"value":"@range(0,variables('page_count'))","type":"Expression"}}},{"name":"ForEach Get Workspaces","type":"ForEach","dependsOn":[{"activity":"Set page_array","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@variables('page_array')","type":"Expression"},"isSequential":true,"activities":[{"name":"Set currentSkip","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"currentSkip","value":{"value":"@mul(item(),variables('limit'))","type":"Expression"}}},{"name":"Fetch Workspace Datasets","type":"Copy","dependsOn":[{"activity":"Set currentSkip","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","paginationRules":{"supportRFC5988":"true"},"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat('groups?$filter=type eq ''Workspace''&$expand=datasets&$top=',variables('limit'),'&$skip=', variables('currentSkip'))","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('fuam pbi-service-api admin')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item(),'_workspace_datasets.json')","type":"Expression"},"folderPath":"raw/workspace_datasets"}},"schema":{}}},"enableStaging":false}}]}},{"name":"Delete files","description":"Remove workspace dataset files from the previous run","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"raw/workspace_datasets"}}},"enableLogging":false,"storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false}}},{"name":"Ext_Transfer_Workspace_Datasets_Unit","type":"TridentNotebook","dependsOn":[{"activity":"ForEach Get Workspaces","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"b3347262-bde2-4feb-bf31-1a931599aa80","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","parameters":{"display_data":{"value":{"value":"@pipeline().parameters.display_data","type":"Expression"},"type":"bool"}}}},{"name":"Aggregate for report dimensions","description":"Transform to one row per workspace and include the workspace name","type":"TridentNotebook","dependsOn":[{"activity":"Ext_Transfer_Workspace_Datasets_Unit","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"d06cc889-8e51-4795-be7b-b61cf57d65b4","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1"}},{"name":"Fetch Workspace count","type":"WebActivity","dependsOn":[{"activity":"Delete files","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"method":"GET","headers":{},"relativeUrl":{"value":"@string('groups?$filter=type eq ''Workspace''&$top=1')","type":"Expression"}},"externalReferences":{"connection":"[parameters('fuam pbi-service-api admin')]"}}],"parameters":{"display_data":{"type":"bool","defaultValue":false},"gold_table_name":{"type":"string","defaultValue":"workspace_datasets"},"agg_gold_table_name":{"type":"string","defaultValue":"usage_workspaces"}},"variables":{"limit":{"type":"Integer","defaultValue":5000},"page_count":{"type":"Integer"},"currentSkip":{"type":"Integer"},"page_array":{"type":"Array"},"workspace_count":{"type":"Integer"}},"lastModifiedByObjectId":"2576c048-a948-468c-a5fd-7f2eb769f9c8","lastPublishTime":"2025-05-29T14:22:38Z"},"dependsOn":[]}]}