pipelines/Ext_Load_PBI_Dataset_Refresh_E2E/Ext_Load_PBI_Dataset_Refresh_E2E.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"FUAM_Ext_Lakehouse":{"type":"string"},"fuam pbi-service-api base":{"type":"string"},"FUAM Ext Lakehouse":{"type":"string"}},"variables":{},"resources":[{"name":"Ext_Load_PBI_Dataset_Refresh_E2E","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Delete dataset refresh files","description":"Remove raw report usage files from the previous run","type":"Delete","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Binary","typeProperties":{"location":{"type":"LakehouseLocation","folderPath":"raw/dataset_refresh"}}},"enableLogging":false,"storeSettings":{"type":"LakehouseReadSettings","recursive":true,"enablePartitionDiscovery":false}}},{"name":"Set dataset array","type":"SetVariable","dependsOn":[{"activity":"Get workspace datasets","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"typeProperties":{"variableName":"dataset_array","value":{"value":"@activity('Get workspace datasets').output.value","type":"Expression"}}},{"name":"ForEach Get Dataset Refreshes","type":"ForEach","dependsOn":[{"activity":"Set dataset array","dependencyConditions":["Succeeded"]}],"typeProperties":{"items":{"value":"@variables('dataset_array')","type":"Expression"},"batchCount":3,"activities":[{"name":"Fetch Dataset Refreshes","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"RestSource","httpRequestTimeout":"00:01:40","requestInterval":"00.00:00:00.010","requestMethod":"GET","paginationRules":{"supportRFC5988":"true"},"datasetSettings":{"annotations":[],"type":"RestResource","typeProperties":{"relativeUrl":{"value":"@concat('groups/', item().WorkspaceId, '/datasets/', item().DatasetId, '/refreshes')","type":"Expression"}},"schema":[],"externalReferences":{"connection":"[parameters('fuam pbi-service-api base')]"}}},"sink":{"type":"JsonSink","storeSettings":{"type":"LakehouseWriteSettings"},"formatSettings":{"type":"JsonWriteSettings"},"datasetSettings":{"annotations":[],"linkedService":{"name":"FUAM_Ext_Lakehouse","properties":{"annotations":[],"type":"Lakehouse","typeProperties":{"workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","artifactId":"[parameters('FUAM_Ext_Lakehouse')]","rootFolder":"Files"}}},"type":"Json","typeProperties":{"location":{"type":"LakehouseLocation","fileName":{"value":"@concat(item().DatasetId,'.json')","type":"Expression"},"folderPath":"raw/dataset_refresh"}},"schema":{}}},"enableStaging":false}},{"name":"Ext_Transfer_Dataset_Refresh_Unit","type":"TridentNotebook","dependsOn":[{"activity":"Fetch Dataset Refreshes","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"notebookId":"354922ce-b7a1-40f5-a138-2ab3449cf207","workspaceId":"572c83e2-ec60-4579-9648-10234b4a30d1","parameters":{"display_data":{"value":false,"type":"bool"},"bronze_file_location":{"value":"Files/raw/dataset_refresh/","type":"string"},"gold_table_name":{"value":"dataset_refreshes","type":"string"},"dataset_id":{"value":{"value":"@string(item().DatasetId)","type":"Expression"},"type":"string"}},"sessionTag":"fuan_ext"}}]}},{"name":"Get workspace datasets","type":"Lookup","dependsOn":[{"activity":"Delete dataset refresh files","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":"SELECT DatasetName, WorkspaceId, DatasetId\nFROM dbo.workspace_datasets\nWHERE (IsDatasetRefreshable = 1 AND IsDatasetRefreshable IS NOT NULL)\n    AND State = 'Active'\n    AND fuam_deleted = 0","queryTimeout":"02:00:00","partitionOption":"None"},"firstRowOnly":false,"datasetSettings":{"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{"schema":"dbo","table":"workspace_datasets","database":"fuam_ext_lakehouse"},"externalReferences":{"connection":"[parameters('FUAM Ext Lakehouse')]"}}}}],"parameters":{"display_data":{"type":"bool","defaultValue":false}},"variables":{"dataset_array":{"type":"Array"}},"lastModifiedByObjectId":"2576c048-a948-468c-a5fd-7f2eb769f9c8","lastPublishTime":"2025-07-01T13:58:24Z"},"dependsOn":[]}]}